header.Header
	.Container_medium
		.Header-Content
			.Header-Logo
				img(src="../../assets/images/logo.png", alt="logotype")
				h1.Header-Logo_fake
					| Проектные системы
			nav.Header-Menu
				ul.Header-List
					li.Header-Item
						a.Header-Link(href='#') О нас 
					li.Header-Item
						a.Header-Link(href='#') Проекты
					li.Header-Item
						a.Header-Link(href='#') Этапы
					li.Header-Item
						a.Header-Link(href='#') Отзывы
					li.Header-Item
						a.Header-Link(href='#') Контакты



