@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(/views/fonts/Montserrat-Black.ttf);
    src: url(/views/fonts/Montserrat-Bold.ttf);
    src: url(/views/fonts/Montserrat-ExtraBold.ttf);
    src: url(/views/fonts/Montserrat-ExtraLight.ttf);
    src: url(/views/fonts/Montserrat-Light.ttf);
    src: url(/views/fonts/Montserrat-Medium.ttf);
    src: url(/views/fonts/Montserrat-Regular.ttf);
    src: url(/views/fonts/Montserrat-SemiBold.ttf);
    src: url(/views/fonts/Montserrat-Thin.ttf);
}