extends ../../layout.pug

block extraHead
	title= _title

block content
	main.Main
		.Container-medium
			
			.Part_Face
				.slideshow-container 
					.mySlides.fade 
						img(src='/assets/images/png/photo-of-balconies.jpg' alt='low angle photo of balconies')
					.mySlides.fade 
						img(src='/assets/images/png/glass-building.jpg' alt='brown and blue glass building')
					.mySlides.fade
						img(src='/assets/images/png/architecture-building.jpg' alt='apartment apartment building architecture building')
	
				
				h2.Face_Title
					|	Проектные решения любой сложности
				h3.Face_Subtitle
					|	Есть над чем задуматься: базовые сценарии поведения 
					|	пользователей и по сей день остаются уделом проектантов
				button.Face_Btn
					|	Заказать расчет
			
			.Part_AboutUs
				h3.AboutUs
					|	О нас
				p.AboutUs_Text
					|	Также как перспективное планирование создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса экспериментов, поражающих по своей масштабности и грандиозности. А также диаграммы связей могут быть описаны максимально подробно. Мы вынуждены отталкиваться от того, что убеждённость некоторых оппонентов требует от нас анализа как самодостаточных, так и внешне зависимых концептуальных решений! Следует отметить, что высококачественный прототип будущего проекта предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Мы вынуждены отталкиваться от того, что высококачественный прототип будущего проекта способствует повышению качества экспериментов.
				.AboutUs-block
					.AboutUs_photo
						.Photo_Border
							p.Photo_Text
								|	Принимая во внимание показатели успешности, перспективное планирование способствует подготовке и реализации новых принципов.
							button.Photo_Btn
								|	Подробнее
					.AboutUs_Articles
						.AboutUs_Article-1
							.Article_Img
								include ../svg/cube.svg
							.Article_Text
								|	Консультация с широким активом 
								|	А также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для как самодостаточных, так и внешне зависимых концептуальных решений.		
						.AboutUs_Article-2
							.Article_Img
								include ../svg/cogwheel.svg
							.Article_Text
								|	В своём стремлении повысить 
								|	Качество жизни, они забывают, что сплочённость команды профессионалов представляет собой интересный эксперимент проверки прогресса профессионального сообщества.
			
			.Part_Work
				h3.Work_Title
					|	Как мы работаем
				
				.tabs 
					.tabs-triggers 
						a(href="#tab-1" class='tab-triggers__item')
							|	1 шаг
						a(href="#tab-2" class='tab-triggers__item')
							|	2 шаг
						a(href="#tab-3" class='tab-triggers__item')
							|	3 шаг
						a(href="#tab-4" class='tab-triggers__item')
							|	4 шаг
					.tabs-content 
						.tabs-content__item#tab-1
							.tab-content
								.tab-title
									|	Проводим консультацию
								.tab-text 
									|	Влечет за собой процесс внедрения и модернизации приоритизации разума над эмоциями. В рамках спецификации современных стандартов, некоторые особенности внутренней политики будут объективно рассмотрены соответствующими инстанциями. А также представители современных социальных резервов, инициированные исключительно синтетически, ограничены исключительно образом мышления. Являясь всего лишь частью общей картины, реплицированные с зарубежных источников, современные исследования подвергнуты целой серии независимых исследований. Кстати,  стремящиеся вытеснить традиционное производство, нанотехнологии освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, призваны к ответу.
								.tab-btns
									button.tab-btn.btn__more
										|	Подробнее
									button.tab-btn.btn__contract
										|	Договор
							.tab-img
								img(src="/assets/images/png/laptop.png", alt="laptop and hands with pen")
						.tabs-content__item#tab-2 
							.tab-content
								.tab-title
									|	Составляем смету
								.tab-text 
									|	Внедрения и модернизации приоритизации разума над эмоциями. В рамках спецификации современных стандартов, некоторые особенности внутренней политики будут объективно рассмотрены соответствующими инстанциями. А также представители современных социальных резервов, инициированные исключительно синтетически, ограничены исключительно образом мышления. Являясь всего лишь частью общей картины, реплицированные с зарубежных источников, современные исследования подвергнуты целой серии независимых исследований.
								.tab-btns
									button.tab-btn.btn__more
										|	Подробнее
									button.tab-btn.btn__contract
										|	Договор
							.tab-img
								img(src="/assets/images/png/hand.png", alt="hands with pen")
						.tabs-content__item#tab-3 
							.tab-content
								.tab-title
									|	Привлекаем подрядчиков
								.tab-text 
									|	Идейные соображения высшего порядка, а также новая модель организационной деятельности требует анализа прогресса профессионального сообщества. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от дальнейших направлений развития. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности говорит о возможностях системы массового участия. Принимая во внимание показатели успешности, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнить важные задания по разработке прогресса профессионального сообщества.
								.tab-btns
									button.tab-btn.btn__more
										|	Подробнее
									button.tab-btn.btn__contract
										|	Договор
							.tab-img
								img(src="/assets/images/png/up.png", alt="laptop and hands")
						.tabs-content__item#tab-4
							.tab-content
								.tab-title
									|	Инспектируем все этапы работ
								.tab-text 
									|	Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от дальнейших направлений развития. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности говорит о возможностях системы массового участия. Принимая во внимание показатели успешности, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
								.tab-btns
									button.tab-btn.btn__more
										|	Подробнее
									button.tab-btn.btn__contract
										|	Договор
							.tab-img
								img(src="/assets/images/png/table.png", alt="table with a pen")

			.Part_Questions
				h2.Questions_Title
					|	Часто задаваемые вопросы
				.accordion

					.accordion-item
						input(type="checkbox")#accordion-1.accordion-item__input
						label(for="accordion-1").accordion-item__trigger
							|	Из чего формируется конечная стоимость проекта?
							//-.wrapper-plus
								.plus
						.accordion-item__content
							|	Являясь всего лишь частью общей картины, непосредственные участники технического прогресса призывают нас к новым свершениям, которые, в свою очередь, должны быть своевременно верифицированы. Но высококачественный прототип будущего проекта является качественно новой ступенью первоочередных требований. А ещё некоторые особенности внутренней политики, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объявлены нарушающими общечеловеческие нормы этики и морали. И нет сомнений, что явные признаки победы институционализации призывают нас к новым свершениям, которые, в свою очередь, должны быть указаны как претенденты на роль ключевых факторов.
							|	Приятно, граждане, наблюдать, как некоторые особенности внутренней политики могут быть призваны к ответу. Явные признаки победы институционализации набирают популярность среди определенных слоев населения, а значит, должны быть объединены в целые кластеры себе подобных. Банальные, но неопровержимые выводы, а также многие известные личности призывают нас к новым свершениям, которые, в свою очередь, должны быть представлены в исключительно положительном свете. 

					.accordion-item
						input(type="checkbox")#accordion-2.accordion-item__input
						label(for="accordion-2").accordion-item__trigger
							|	У меня есть свой проект. Сможем ли мы его доработать / реализовать?
						.accordion-item__content
							|	Если у Вас уже есть эскизный проект, то Вы можете заказать у нас проект по своему эскизу.

					.accordion-item
						input(type="checkbox")#accordion-3.accordion-item__input
						label(for="accordion-3").accordion-item__trigger
							|	Я выбираю между разными компаниями. В чём ваше отличие?
						.accordion-item__content
							|	Специалисты компании ежегодно проходят специальные курсы повышения квалификации, посещают семинары, ездят на стажировку, участвуют в конференциях и так далее. Словом, у нас очень умные парни, и каждый год они становятся еще умнее.

					.accordion-item
						input(type="checkbox")#accordion-4.accordion-item__input
						label(for="accordion-4").accordion-item__trigger
							|	Могу ли я делегировать вам работу / согласование с подрядчиком / организацией? 
						.accordion-item__content
							|	Да,конечно.
					.accordion-item

						input(type="checkbox")#accordion-5.accordion-item__input
						label(for="accordion-5").accordion-item__trigger
							|	Могу ли я вернуть деньги на каком-либо из этапов работ?
						.accordion-item__content
							|	В договорах при определении порядка расчетов стороны нередко предусматривают внесение аванса. Такой механизм используется чаще всего при заключении договоров купли-продажи, договоров на выполнение подрядных или строительных работ, договоров возмездного оказания услуг. В соглашениях стороны аванс в некоторых случаях именуют «предоплата», «обеспечительный платеж». В последующем, при выполнении стороной встречного обязательства сумма, внесенная в качестве аванса, учитывается в общей сумме платежа.

					
